body {
    font-family:Arial,sans-serif;
    color: #373737;
    background-color:#f4f4f4;
    margin: 1em;
    height: 100%;
    border: dotted 6px #dcd0c0;
    padding: 2em 2em 0 2em;
    max-width: 880px;
    min-width: 550px;
}
img {
    width: 206px;
    float: left;
    margin: 0 2.5em 0 0;
    padding: .5em;
    border: dotted 5px; 
    border-color:#dcd0c0;
}
h1{
    margin: 0;
    color: #c0b283;
}
h2{
    margin: 1em 0 0 0;
    color: #c0b283;
}
a{
    text-decoration:none;
    color: #c0b283;
}
li a:hover, a.top:hover{
    font-style: italic;
}
li a:active, a.top:active{
    color: #dcd0c0;
}
p{
    margin: 0 0 1em 0;
}
article{
    margin-top: 10em;
}
footer{
    border-top: dotted 6px #dcd0c0;
    margin-top: 2em;
    text-align: center;
    font-size: .75em;
}
#menu {
    padding-left: 1em;
    font-weight: bold;
    list-style: none;
    border-left: dotted 3px #dcd0c0;
    float: left;
}
#menu li{
    margin-bottom: .5em;
}
.title{
    border-top: dotted 4px #dcd0c0;
}
.top {
    font-size: .75em;
}
